<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><b>[SANCTUARY]</b></h1>
      <p class="lead mb-3">Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block"> Client Login</a>

      <a href="/users/staffLogin" class="btn btn-secondary btn-block">Staff Login</a>
    </div>
  </div>
</div>

<div class="row mt-1">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <p class="lead mb-3"> <b> Welcome to Aston Animal Sanctuary!!!</b></p>
      </div>
    </div>
</div>
